/* основной текст - #000000
вторичный текст - #757575
навигация ссылки - #212121
акцент - #2196F3 */

:root {
	--primaty-text-color: #757575;
	--logo-text-color: #000000;
	--accent-color: #2196f3;
	--primaty-white-color: #ffffff;
	--button-secondary-bg-color: #f5f4fa;
	--title-text-color: #212121;
	--hero-bg-color: #2f303a;
}

body {
	color: var(--primaty-text-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.button-primary {
	color: var(--primaty-white-color);
	background-color: var(--accent-color);
}

.button-secondary {
	color: var(--title-text-color);
	background-color: var(--button-secondary-bg-color);
}

.button-secondary:hover,
.button-secondary:focus {
	color: var(--primaty-white-color);
	background-color: var(--accent-color);
}

.logo {
	color: var(--accent-color);
}

.site-nav .logo span {
	color: var(--logo-text-color);
}

.site-nav .link {
	color: #212121;
}

.site-nav .link.current {
	color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-mail:hover,
.site-mail:focus,
.site-phone:hover,
.site-phone:focus {
	color: var(--accent-color);
}

.site-phone,
.site-mail {
	color: var(--primaty-text-color);
}

.section-title {
	color: var(--title-text-color);
}

.hero {
	background-color: #2f303a;
}

.hero-title {
	color: var(--primaty-white-color);
}
